.customer-card {
  margin: 20px;
  padding: 20px;
}

.mat-elevation-z8 {
  margin-top: 20px;
  overflow-x: auto;
}

mat-header-cell,
mat-cell {
  padding: 10px;
  text-align: left;
}

h2 {
  font-size: 24px;
  color: #3f51b5; /* Example color */
}
